@font-face {
  font-family: threeDeeVenture;
  src: url('3Dventure.woff') format('woff');
}
@font-face {
  font-family: aestheticDemo;
  src: url('AestheticDEMO.woff') format('woff');
}
@font-face {
  font-family: alagard;
  src: url('Alagard.woff') format('woff');
}
@font-face {
  font-family: verminVibes;
  src: url('Vermin-Vibes-1989.woff') format('woff');
}
.tg {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td{
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}
.tg th{
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}
.tg .threeDeeVenture{
  text-align: left;
  vertical-align: top;
  font-family: threeDeeVenture;
}
.tg .Aesthetic{
  text-align: left;
  vertical-align: top;
  font-family: aestheticDemo;
}
.tg .Alagard{
  text-align: left;
  vertical-align: top;
  font-family: alagard;
}
.tg .Vermin{
  text-align: left;
  vertical-align: top;
  font-family: verminVibes;
}
