body {
	background-color: #ffffff;
	font-color: #000000;
	font-family: Verdana, Arial, helvetica, sans-serif;
	margin: 0 auto;
	text-align: center;
	}
	
section {
	background-color: #ffffff;
	font-color: #000000;
	font-family: Verdana, Arial, helvetica, sans-serif;
	text-align: center;
	border-radius: 1em;
	padding: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
	}